NEXT_PUBLIC_SUPABASE_URL=https://bceakoyhlyytqowvflsg.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_APP_URL=https://testlift.dev

ANTHROPIC_API_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
